In [37]:
print(123)

print('가나다',123,'홍길동')

123
가나다 123 홍길동

In [38]:
print(123+2)

125

In [39]:
print('123'+2)

TypeError: can only concatenate str (not "int") to str

In [40]:
print('123'*10)

123123123123123123123123123123

In [42]:
print(108*8)

864

In [41]:
print(108/8)

13.5

In [44]:
print(108//8)

13

In [43]:
print(108&8)

8

In [36]:
print(108%8)

4

In [35]:
print(5**2)

25

In [34]:
print('가나다'+'홍길동')

가나다홍길동

In [33]:
print('*'*100)

****************************************************************************************************

In [32]:
c=input('숫자를 입력하세요:')
print(c)

숫자를 입력하세요:123
123

In [31]:
c=123
print(c)
c='가나다'
print(c)

123
가나다

In [30]:
print('가나다',123,45.3)

가나다 123 45.3

In [29]:
n=input('이름: ')
a=input('나이: ')
print('{}는 나이가 {}입니다.'.format(n,a))

이름: sdf
나이: 12
sdf는 나이가 12입니다.

In [27]:
p=3.141592
r=5
print('원의 넓이는 =',p*(r**2))

원의 넓이는 = 78.5398

In [26]:
a = int(input('숫자입력:'))
print(a+10)

숫자입력:123
133

In [25]:
c=123.56
print(type(c))

<class 'float'>

In [24]:
d=1+4j
print(type(d))

<class 'complex'>

In [45]:
print('123'+str(3))

1233

In [49]:
score=79
print(float(score),type(float(score)))

79.0 <class 'float'>

In [3]:
list =[1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [4]:
print(type(list))

<class 'list'>

In [5]:
list.append(6)
print(list)

[1, 2, 3, 4, 5, 6]

In [9]:
a=int(input("나이는?"))
if 15 <= a <19:
    print("가능함.")

나이는?17
가능함.

In [56]:
a = int(input("나이를 입력하세요."))
if 20<= a :
    print("관람 가능")
elif 15<=a<20 : 
    print("부모님 동반하여 관람 가능")
    b = input("부모님 동반 여부 (O/X 로 입력)")
    if (b == 'O') or (b == 'o'):
         print('관람 가능')
    elif (b == 'X') or (b =='x'):
        print('관람 불가')
else : 
    print("관람 불가")

나이를 입력하세요.11

In [59]:
#1단계 = 나이 입력받아 입장료 결정하기
age = int(input('나이가 어떻게 되세요?'))
if age>=20:
    print('성인은 15,000원 입니다.')
    price = 15000
else:
    print('미성년자는 6,000원 입니다.')
    price = 6000
#2단계 = 투입 금액을 입력받아 입장료와 비교하기
price_input = int(input('입장료를 넣어 주세요. -->'))
if price_input < price : 
    print(price-price_input,'원을 더 내야 합니다.')
else:
    print(price_input-price,'원을 거슬러 드리겠습니다.')

나이가 어떻게 되세요?13
미성년자는 6,000원 입니다.
입장료를 넣어 주세요. -->8000
2000 원을 거슬러 드리겠습니다.